* {
    margin: 0;
    padding: 0;
}

.app {
    font-family: 'Ubuntu', sans-serif;
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    -webkit-box-shadow: -2px 0px 51px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 51px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 51px 0px rgba(0,0,0,0.75);
}