* {
    margin: 0;
    padding: 0;
}

.bg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../src/images/colorful-background.jpg");
    background-position: center;
}

.app {
    font-family: 'Ubuntu', sans-serif;
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    -webkit-box-shadow: -2px 0px 51px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 51px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 51px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1600px) {
    .app {
        width: 1000px;
        height: 600px;
    }

    .unselected {
        margin-left: 34.5%;
    }
}