* {
    margin: 0;
    padding: 0;
}

.bg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../src/images/bg.jpeg");
    background-position: center;
}

.app {
    font-family: 'Ubuntu', sans-serif;
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    -webkit-box-shadow: -2px 0px 51px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 51px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 51px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1300px) {
    .app {
        width: 1000px;
        height: 600px;
    }
}


@media screen and (max-width: 1010px) {

    .bg {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: none;
        background-position: center;
    }

    .app {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }


    .skill-list {
        align-items: baseline;
    }

    .chat {
        margin-bottom: 35px;
        width: 150%;
    }

    .feedbacks {
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .medias {
        margin-top: 50px;
    }

    .container-right {
        width: 100%;
    }

    .container-left {
        width: 100%;
    }

    .two {
        margin-left: 40px;
    }

    .chat {
        width: 102%;
    }

}