.home {
    justify-content: space-around;
}

.tabs {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    list-style: none;
}

.container-left {
    width: 50%;
}

.container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.skill-tables {
    display: flex;
    justify-content: space-between;
}

.skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medias {
    display: flex;
    justify-content: center;
}

.contact {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 50px 0;
}

ul li {
    display: inline;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
}

li {
    border: 1px solid black;
    padding: 15px;
    transition: 0.3s ease-in-out;
    border-radius: 5%;
    margin: 0 20px;
}

li:hover {
    background-color: #007bff;
    border: 1px solid white;
    color: white;
}

.tab {
    display: inline-block;
    width: 25%;
    font-size: 23px;
    margin: 0;
    text-decoration: none;
    color: #333;
}

