.home {
    justify-content: space-around;
}

.tabs {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    list-style: none;
}

.container-left {
    width: 50%;
}

.container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.skill-tables {
    display: flex;
    justify-content: space-between;
}

.skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medias {
    display: flex;
    justify-content: center;
}

.contact {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 50px 0;
}

ul li {
    display: inline;
    text-align: center;
    cursor: pointer;
}

.tab {
    display: inline-block;
    width: 25%;
    font-size: 23px;
    margin: 0;
    text-decoration: none;
    color: #333;
}

.two {
    margin-left: 90px;
}


hr .selected {
    margin: 0;
}

.unselected {
    margin-left: 27.5%;
}

hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    transition: .3s ease-in-out;
}

