.message {
    color: white;
    background-color: #007bff;
    padding: 5px;
    margin: 0px 10px;
    border: 1px solid #007bff;
    border-radius: 5%;
    font-size: 16px;
}

.text {
    margin: 5px 0;
}

.msg-container {
    width: 40%;
    margin: 10px 0;
}

.msg-time {
    color: #3d3535;
    font-size: 11px;
    display: flex;
    justify-content: center;
    margin: 0;
    opacity: 0.6;
    text-align: center;
}